<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.lexno.blog.dao.ArticleInfoMapper">
  <resultMap id="BaseResultMap" type="tk.lexno.blog.entity.ArticleInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="is_top" jdbcType="BIT" property="top" />
    <result column="traffic" jdbcType="INTEGER" property="traffic" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_delete" jdbcType="BIT" property="delete" />
  </resultMap>

  <resultMap id="ArticleDto" type="tk.lexno.blog.dto.ArticleDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="is_top" jdbcType="BIT" property="top" />
    <result column="traffic" jdbcType="INTEGER" property="traffic" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_delete" jdbcType="BIT" property="delete" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_id, title, picture_url, summary, is_top, traffic, gmt_create, gmt_modified, 
    is_delete
  </sql>
  <select id="selectByExample" parameterType="tk.lexno.blog.entity.ArticleInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_article_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_article_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_article_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="tk.lexno.blog.entity.ArticleInfo" useGeneratedKeys="true">
    insert into tbl_article_info (category_id, title, picture_url, 
      summary, is_top, traffic, 
      gmt_create, gmt_modified, is_delete
      )
    values (#{categoryId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR}, 
      #{summary,jdbcType=VARCHAR}, #{top,jdbcType=BIT}, #{traffic,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{delete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="tk.lexno.blog.entity.ArticleInfo" useGeneratedKeys="true">
    insert into tbl_article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="top != null">
        is_top,
      </if>
      <if test="traffic != null">
        traffic,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="delete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        #{top,jdbcType=BIT},
      </if>
      <if test="traffic != null">
        #{traffic,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tk.lexno.blog.entity.ArticleInfo">
    update tbl_article_info
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        is_top = #{top,jdbcType=BIT},
      </if>
      <if test="traffic != null">
        traffic = #{traffic,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="delete != null">
        is_delete = #{delete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tk.lexno.blog.entity.ArticleInfo">
    update tbl_article_info
    set category_id = #{categoryId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      is_top = #{top,jdbcType=BIT},
      traffic = #{traffic,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_delete = #{delete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectArticleDtoById" parameterType="java.lang.Long" resultMap="ArticleDto">
    select
    info.*,content.content
    from tbl_article_info info
    inner join `tbl_article_content` content
    on content.article_id = info.id
    where info.id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectLastest" resultMap="BaseResultMap">
    select *
    from tbl_article_info
    order by gmt_create desc
  </select>
</mapper>